<app-big-title></app-big-title>

<div class="articles__container">
    <div class="articles__main">
      <div *ngFor="let card of cards">
        <app-big-card *ngIf="card.mainNews"
          [Id]="card.id"
          [photoCover]="card.photoCover"
          [cardTitle]="card.title"
          [cardDescription]="card.description">
        </app-big-card>
      </div>
    </div>

    <div class="articles__others">
      <div *ngFor="let card of cards">
        <app-small-card *ngIf="!card.mainNews"
          [Id]="card.id"
          [photoCover]="card.photoCover"
          [cardTitle]="card.title">
        </app-small-card>
      </div>
    </div>
</div>
